body {
    background-color: #623dda
; color: rgb(242, 242, 248);font-size: 25px;}

h1, h2 {color:aqua; text-align: center;

line-height: 1.8em; font-size: 35px;}

img {            

	border-style: solid;           
	border-color: rgb(0, 4, 255);           				
	border-width: 10px;             

}

a {color:black}


			
